{{- $defaultColorScheme := default "light" .Site.Params.colorScheme.default -}}
<script>
    (function () {
        const colorSchemeKey = 'StackColorScheme';
        const savedScheme = localStorage.getItem(colorSchemeKey);
        const defaultScheme = "{{ $defaultColorScheme }}";
        const supportDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches === true;
        const scheme = savedScheme || defaultScheme;

        if (scheme === 'dark' || (scheme === 'auto' && supportDarkMode)) {
            document.documentElement.dataset.scheme = 'dark';
        } else {
            document.documentElement.dataset.scheme = 'light';
        }
    })();
</script>
