{{ define "main" }}
{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
{{ $filtered := ($pages | intersect $notHidden) }}
{{ $pag := .Paginate ($filtered) }}


<!-- 上面是主题自带的,只展示一部分,其余省略 -->
<!-- ---这是我们添加进去的--------- -->
<!-- 首页欢迎字幅板块 -->
<div class="welcome">
    <p style="font-size: 2rem; text-align: center; font-weight: bold">
        <span class="firework-icon">🎉</span>
        <!-- Welcome -->
        <span class="jump-text1">W</span><span class="jump-text2">e</span><span class="jump-text3">l</span><span
            class="jump-text4">c</span><span class="jump-text5">o</span><span class="jump-text6">m</span><span
            class="jump-text7">e</span>
        <!-- Space -->
        <span class="jump-text8">&nbsp;</span>
        <!-- To -->
        <span class="jump-text9">T</span><span class="jump-text10">o</span>
        <!-- Space -->
        <span class="jump-text11">&nbsp;</span>
        <!-- Jul1en -->
        <span class="jump-text12" style="color:#e99312">J</span><span class="jump-text13"
            style="color:#e99312">u</span><span class="jump-text14" style="color:#e99312">l</span><span
            class="jump-text15" style="color:#e99312">1</span><span class="jump-text16"
            style="color:#e99312">e</span><span class="jump-text17" style="color:#e99312">n</span>
        <!-- 's Blog -->
        <span class="jump-text18" style="color:#e99312">'</span><span class="jump-text19"
            style="color:#e99312">s</span><span class="jump-text20" style="color:#e99312">&nbsp;</span><span
            class="jump-text21" style="color:#e99312">B</span><span class="jump-text22"
            style="color:#e99312">l</span><span class="jump-text23" style="color:#e99312">o</span><span
            class="jump-text24" style="color:#e99312">g</span>

    </p>
</div>
<!-- ------首页欢迎字幅板块------ -->
<!-- 下面也是主题自带的,只展示一部分,其余省略 -->


<section class="article-list">
    {{ range $index, $element := $pag.Pages }}
    {{ partial "article-list/default" . }}
    {{ end }}
</section>

{{- partial "pagination.html" . -}}
{{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
{{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}