{{- $author := default .Site.Title .Site.Copyright -}}
{{- $authorHandle := printf "@%s" $author -}}
<div class="article-closing" aria-label="Article closing">
    <ul class="article-closing__links">
        <li>
            <span class="article-closing__chevron" aria-hidden="true">›</span>
            <span>written by <span class="article-closing__author">{{ $authorHandle }}</span></span>
        </li>
        <li>
            <span class="article-closing__chevron" aria-hidden="true">›</span>
            <a href="{{ `/post/` | relLangURL }}">cd ..</a>
        </li>
    </ul>

</div>
