name: deploy

# 代码提交到main分支时触发github action
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout
          uses: actions/checkout@v4
          with:
              fetch-depth: 0

        - name: Git Configuration
          run: |
            git config --global core.quotePath false
            git config --global core.autocrlf false
            git config --global core.safecrlf true
            git config --global core.ignorecase false

        - name: Setup Hugo
          uses: peaceiris/actions-hugo@v3
          with:
              hugo-version: "latest"
              extended: true

        - name: Build Web
          run: hugo -D

          # 推送到Github仓库的Jul1en-Lin.github.io 仓库
        - name: Deploy Web
          uses: peaceiris/actions-gh-pages@v4
          with:
              PERSONAL_TOKEN: ${{ secrets.HUGO_TOKEN }}
              EXTERNAL_REPOSITORY: Jul1en-Lin/Jul1en-Lin.github.io
              PUBLISH_BRANCH: main
              PUBLISH_DIR: ./public
              commit_message: auto deploy
              # 【关键】为了 Gitee 小绿点，这里必须填你 Gitee 绑定的邮箱和昵称！
              # 这样生成的 Commit 才会归属到你名下，同步过去才有绿点。
              user_name: 'Jul1en-Lin' 
              user_email: '1577045857@qq.com'

        #  # 同步到 Gitee
        # - name: Sync to Gitee
        #   uses: Yikun/hub-mirror-action@master
        #   if: always() # 保证即使上面步骤偶尔抽风，这一步也尝试执行
        #   with:
        #     #  GitHub 用户名
        #     src: github/Jul1en-Lin
        #     #  Gitee 用户名
        #     dst: gitee/Cary_C
        #     # 只需要同步存放静态页面的那个仓库
        #     dst_key: ${{ secrets.GITEE_RSA_PRIVATE_KEY }}
        #     dst_token: ${{ secrets.GITEE_TOKEN }} # 需要去 Gitee 生成一个私人令牌(Access Token)
        #     static_list: "jul1en-lin.github.io" # 这里填你要同步的仓库名
        #     force_update: true
        #     debug: true

      